<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
</head>
<body>

<div>
    <h2>Sign Up</h2>
</div>

<form method="post" action="/auth/signup">
    <div>
        <label> Username:
            <input type="text" name="username" required>
        </label>
    </div>
    <div>
        <label> Email:
            <input type="email" name="email" required>
        </label>
    </div>
    <div>
        <label> Password:
            <input type="password" name="password1" required>
        </label>
    </div>
    <div>
        <label> Password confirmation:
            <input type="password" name="password2" required>
        </label>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

</body>
</html>
